/* CASCADE in CSS it means that it optimize for the last command
if you give 2 orders it will respondo to the last, in the example below the text will be GREEN

p {
  color: pink;
}

p {
  color:green;
}

---------------------

!important  --> win over the cascade rule of CSS, so whatever code you apply with !important, it will beat every other code. 





*/

* {
  text-align: right;
}

body {
  background-image: url(https://plus.unsplash.com/premium_photo-1674504448598-35c38b3814b7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE1fGlVSXNuVnRqQjBZfHxlbnwwfHx8fHw%3D);
  background-size: cover;
  
}

h2, p{
  color: black;
  text-align: center;
  border: 5px solid yellowgreen;
  cursor: pointer;
  
}



p {
  color:darkgreen;
  text-decoration: underline;
  line-height: 40px;
  font-style: italic;
  font-size: 25px;
  font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif;
}

img {
  float: left;
}

footer{
  clear: both;
  text-align: center;
}
li {
  list-style: none;
  display: inline-block;
}

.test1{
  color: red;
}

.test1:first-child {
  border: 5px dashed brown;
}



#div1 {
  background-color: white;
}

.test2:hover {
  color: white;
  background-color: black;
}

#div2 {
  background: rgba(255, 0, 0, 0.4);
}

