body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    
      
}

#navbar ul{
    background-color: grey;
    padding: 0;
    margin: 0;
    text-align: right;
}

#navbar li{
    display: inline-block;
    padding: 20px;
    
}

#navbar a{
    text-decoration: none; /* This remove the line below a link*/
    color: white;
}

#navbar li:hover{
    background-color: rgb(66, 65, 65);
}

.first-container{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}

.first-p{
    font-size: 18px;
}

#ball-container{
    overflow: hidden;
    width: 98vw;
    height: 600px;  
    position: relative;
    color: hsl(0, 0%, 0%);

}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }
