body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

#navbar ul{
    background-color: grey;
    padding: 0;
    margin: 0;
    text-align: right;
}

#navbar li{
    display: inline-block;
    padding: 20px;
    
}

#navbar a{
    text-decoration: none; /* This remove the line below a link*/
    color: white;
}

#navbar li:hover{
    background-color: rgb(66, 65, 65);
}

.first-p{
    font-size: 18px;
}

main{
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-attachment: fixed; /* This makes the background image stay still while scrolling */
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    
}

.main-container{
    
    min-width: 520px;
    max-width: 730px;
    margin: 0 auto;
    
    
}

#title, #description {
    
    text-align: center;
}

#title{
    font-weight: 400;
    line-height: 1.2;
    padding-top: 40px;
    font-size: 2.2rem;
    
}

#description{
    font-style: italic;
    color: rgb(219, 212, 212);
    font-weight: 50;
    font-size: 1.2rem;
    margin-top: -10px;
    margin-bottom: 25px;
    margin: -10px auto 25px;
    text-shadow: 1px 1px 1px grey;

}


form{
    background-color: #262645;
    border-radius: 4px;
    
}

#survey-form{
    padding: 6%;
    
}

.form-group{
    margin-bottom: 25px;
    margin-top: 0px;
    display: block;
    
}

label{
    display: flex;
}

.text-form{
    font-size: 1.2rem;
    margin: 0px;
    padding-bottom: 8px;
}

.first-label{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: none;
    padding-left: 10px;
}

.age-span{
    font-size: 0.9rem;
    margin-left: 5px;

}

#dropdown, #role{
    width: 102%;
    height: 35px;
    border-radius: 5px;
    border-color: none;
    border: none;
    


}


option{
   
    outline: 2px solid grey;
    font-size: 17px; 
    padding: 10px 30px 0px 10px;; 
    
}


input[type="radio"], input[type="checkbox"] {
    margin-right: 8px;
    margin-top: -1px;
    width: 20px;
    height: 20px;

}

.text-radio-checkbox{
    font-size: 1.05rem;
}

textarea{
    width: 100%;
    height: 140px;
    font-size: 1.2rem;
    resize: vertical;
}

button{
    width: 101.2%;
    height: 45px;
    border-radius: 3px;
    border-color: none;
    background-color: #37AF65;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: -10px;
    padding: auto;
    
}

span{
    font-size: 0.9rem;
}



@media (max-width: 768px) {
    .main-container {
        width: 60%;
    }

    
}

@media (max-width: 570px) {
    .main-container {
        width: 100%;
        min-width: 0;
        

    }

    main{
        width: 100%;
    }
}